.aboutContainer {
  padding: 3%;
  color: rgba(66, 66, 66, 0.9);
  float: left;
}

.aboutContainer > h1 {
  text-align: center;
  font-weight: 300;
}

.aboutContainer > h3 {
  text-align: center;
  padding: 5%;
}

.aboutContainer > p {
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}
