.aboutContainer {
  padding: 2%;
  color: rgba(66, 66, 66, 0.9);
  text-align: center;
}

.aboutContainer > h1 {
  font-weight: 300;
}

.aboutContainer > h3 {
  padding: 2%;
}

.aboutContainer > p {
  padding: 2%;
  font-size: 1.2rem;
  font-weight: 400;
}

#about-second-para {
  padding-bottom: 10%;
}
