.reviewContainer {
  padding: 4%;
  padding-top: 3%;
  float: left;
}

.hint {
  padding-top: 1%;
  color: rgb(150, 150, 150);
  margin-top: -1%;
  font-style: italic;
  font-weight: 400;
  display: inline-block;
}

label {
  display: inline-block;
  clear: left;
  text-align: left;
  font-size: 2.2rem;
  font-weight: 300;
}

.crsCode {
  width: 200px;
  text-align: center;
}

.crsNum {
  width: 200px;
  text-align: center;
}

input {
  width: 400px;
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 200;
}

.review-course {
  margin-bottom: 25px;
}

::placeholder {
  font-size: 2rem;
  padding-left: 3%;
  color: rgb(180, 180, 180);
}

.pageTitle {
  font-weight: 400;
  padding-bottom: 2%;
  margin-left: 15px;
}

.secTitle {
  font-weight: 400;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 15px;
}

.difficultySelector {
  text-align: center;
  min-width: 9%;
  height: auto;
  font-weight: 200;
  cursor: pointer;
  font-size: 2.2rem;
  width: 470px;
}

.sectionRatingSelector {
  text-align: center;
  min-width: 9%;
  height: auto;
  font-weight: 200;
  cursor: pointer;
  font-size: 2.2rem;
  width: 470px;
}

.submitReviewBtn {
  background-color: rgba(80, 187, 219, 0.849);
  color: white;
  border: 2px solid rgba(80, 187, 219, 0.849);
  padding: 12px 24px;
  text-align: center;
  font-size: 1.6rem;
  transition-duration: 0.3s;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 5%;
  outline: none;
  width: 275px;
}

.submitReviewBtn:hover {
  background-color: white;
  border: 2px solid rgba(80, 187, 219, 0.849);
  color: rgba(80, 187, 219, 0.849);
}

button:focus {
  outline: 0;
}

@media all and (max-width: 768px) {

  .difficultySelector {
    font-size: 2.4rem;
    width: 400px;
  }
  
  .sectionRatingSelector {
    font-size: 2.4rem;
    width: 400px;
  }
}

@media all and (max-width: 500px) {
  .hint {
    width: 250px;
    font-size: 0.8rem;
  }

  label {
    width: 250px;
    font-size: 1rem;
  }

  .review-course {
    margin-bottom: 10px;
  }

  .emptyLabel {
    display: none;
  }

  .crsCode {
    width: 100px;
  }

  .crsNum {
    width: 100px;
  }

  input {
    width: 200px;
    font-size: 1rem;
  }

  ::placeholder {
    font-size: 1rem;
  }

  .pageTitle {
    margin-left: 15px;
    font-size: 1.4rem;
  }

  .secTitle {
    margin-left: 15px;
    font-size: 1.2rem;
  }

  .difficultySelector {
    font-size: 1rem;
    width: 200px;
  }

  .sectionRatingSelector {
    font-size: 1rem;
    width: 200px;
  }

  .submitReviewBtn {
    width: 160px;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 15%;
  }
}
