.courseViewContainer {
  width: 90%;
  margin-top: 3%;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  color: rgb(90, 90, 90);
  float: left;
}

.header {
  padding: 3%;
  background: rgba(80, 187, 219, 0.849);
  color: white;
  text-align: center;
}

.difficultyContainer {
  margin-top: 4%;
  text-align: center;
}

.difficultyContainer > h6 {
  font-size: 1.6rem;
  cursor: pointer;
}

.difficultyNumber {
  margin-left: 1%;
  font-size: 1.9rem;
}

.difficultyCount {
  color: rgb(150, 150, 150);
  font-style: italic;
  font-weight: 400;
  font-size: 1.1rem;
}

.sectionRatingsContainer {
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}

.sectionRatingsHeader {
  letter-spacing: 0.1rem;
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 1%;
  cursor: pointer;
}

p {
  font-weight: 500;
  margin-bottom: 5px;
}

#courseName {
  font-size: 1.8rem;
  font-weight: 400;
}

#departmentName {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

.sectionName {
  font-size: 1.6rem;
  padding-bottom: 1%;
}

.sectionName > p {
  color: rgb(150, 150, 150);
  padding-left: 1%;
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  display: inline;
}
