.courseViewContainer {
  width: 50%;
  margin-top: 10px; 
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  color: rgb(90, 90, 90);
}

.header {
  padding: 10px;
  background: rgba(80, 187, 219, 0.849);
  color: white;
  text-align: center;
}

.difficultyContainer {
  margin-top: 5px;
  text-align: center;
}

.difficultyNumber {
  margin-left: 1%;
}

.sectionRatingsContainer {
  margin-top: 20px;
  text-align: center;
}

.sectionRatingsHeader {
  text-align: center;
}

p {
  font-weight: 500;
  margin-bottom: 5px;
}

#courseName {
  font-size: 1.2rem;

}

#departmentName {
  font-size: 1rem;
}

.sectionName {
  font-size: 0.8rem;
}