.reviewContainer {
  padding: 4%;
  padding-top: 3%;
}

.hint {
  padding-top: 1%;
  color: rgb(150, 150, 150);
  margin-top: -1%;
  font-style: italic;
  font-weight: 400;
  display: inline-block;
}

label {
  display: inline-block;
  clear: left;
  width: 250px;
  text-align: left;
  font-size: 2.2rem;
  font-weight: 300;
}

input {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 200;
  margin-bottom: 25px;
}

::placeholder {
  font-size: 1.5rem;
  padding-left: 3%;
  color: rgb(180, 180, 180);
}

h1 {
  font-weight: 400;
  padding-bottom: 2%;
}

h2 {
  font-weight: 400;
  padding-top: 1%;
  padding-bottom: 1%;
}

.difficultySelector {
  text-align: center;
  min-width: 8%;
  height: auto;
  font-weight: 200;
  cursor: pointer;
}

.sectionRatingSelector {
  text-align: center;
  min-width: 8%;
  height: auto;
  font-weight: 200;
  cursor: pointer;
}

.submitReviewBtn {
  background-color: rgba(80, 187, 219, 0.849);
  color: white;
  border: 2px solid rgba(80, 187, 219, 0.849);
  padding: 12px 24px;
  text-align: center;
  font-size: 1.4rem;
  transition-duration: 0.3s;
  cursor: pointer;
  margin-top: 3%;
  outline: none;
}

.submitReviewBtn:hover {
  background-color: white;
  border: 2px solid rgba(80, 187, 219, 0.849);
  color: rgba(80, 187, 219, 0.849);
}

button:focus {
  outline: 0;
}

@media all and (max-width: 810px) {
}

@media all and (max-width: 500px) {
}
