.courseSelector {
  width: 25%;
  height: auto;
  font-size: 2.6rem;
  font-weight: 200;
  cursor: pointer;
  margin-left: 37%;
  margin-top: 2%;
}

@media all and (max-width: 810px) {
  .courseSelector {
    font-size: 1rem;
  }
}

@media all and (max-width: 500px) {
  .courseSelector {
    width: 60%;
    margin-left: 20%;
    font-size: 1rem;
  }
}
