.departmentSelector {
  width: 50%;
  height: auto;
  font-size: 2.4rem;
  font-weight: 200;
  cursor: pointer;
  margin-top: 3%;
}

@media all and (max-width: 810px) {
  .departmentSelector {
    font-size: 1rem;
  }
}

@media all and (max-width: 500px) {
  .departmentSelector {
    width: 60%;
    font-size: 1rem;
  }
}
