.general {
  background-color: rgba(234, 236, 67, 0.842);
  padding: 1%;
}

.error {
  background-color: #970101;
  color: white;
  padding: 1%;
}

.success {
  background-color: #00a33cea;
  color: white;
  padding: 1%;
}

.dialog-heading {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.dialog-message {
  font-size: 1.5rem;
}
